.ui.card.Setup {
  display: flex;
  align-self: center;
  align-items: center;
  padding: 32px;
  width: auto;
}

.ui.card.user-card-container {
  border-radius: 10px !important;
  color: #424242;
  margin: 0;
  margin-bottom: 10px;
  background-color: #eff3ff;
}

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span {
  font-size: 0.8em;
}

.ui.button.start-game {
  width: 100%;
  border-radius: 15px !important;
  height: 5em;
}

.ui.input {
  width: 100%;
}


@media only screen and (max-width: 700px) {
  .ui.card.Setup {
    width: 95%;
  }
}