#bg-card {
  align-self: center;
  justify-self: center;
  background-color: #f5f5f5;
  width: 90%;
  max-width: 66em;
  display: flex;
  flex-direction: row;
}

.game-container-grid {
  width: 100%;
}

#game-container {
  flex: 2 2 0;
  margin: 0px;
  border-radius: 30px !important;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-width: 44em;
}

.item-boundary {
  display: grid;
  grid-template-columns: repeat(8, 4em);
  grid-template-rows: repeat(8, 4em);
  background-color: #84a4fc;
  height: 40em;
  width: 40em;
  grid-gap: 1em;
  padding-top: .5em;
  padding-left: .5em;
  /* we need a background to cover only the middle part not the whole element*/
  background:linear-gradient(#84A4FC 0 0) center/calc(100% - 2em) calc(100% - 2em) no-repeat;
  filter:url(#round); /* this */
}

.item {
  background-color: white;
  width: 4em;
  height: 4em;
  box-shadow: 
  inset 0px 3px 6px #00000040,
  0 0 0 0.3em #84A4FC;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  position: relative;
}

#info-container {
  flex: 1 1 0;
  margin: 0px;
  padding: 30px;
  justify-content: center;
  overflow-y: scroll;
  max-width: 22em;
}

.item-row {
  display: flex;
  flex: 1 1 0;
  justify-content: space-evenly;
}

.info-title {
  font-size: 1.5em;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
  text-align: center;
  margin-bottom: 0;
}

.info-subtitle {
  font-size: 1em;
  letter-spacing: 0px;
  color: #505351;
  opacity: 1;
  text-align: center;
}

#card-p1,
#card-p2 {
  justify-self: center;
  height: 6em;
  width: 100%;
  border-radius: 15px;
}

#card-p1 {
  background-color: #dcf6e4;
}

#card-p2 {
  background-color: #f6efd5;
}

#action-undo,
#action-end-tournament {
  margin: 1em;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  width: 90%;
  height: 4em;
  align-self: center;
  font-size: 18px;
}

#action-undo {
  background: #4b7bff 0% 0% no-repeat padding-box;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

#action-end-tournament {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  letter-spacing: 0px;
  color: #cc0000;
  opacity: 1;
}

.player-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  padding: 10px;
  overflow: auto;
}

.score-container {
  display: flex;
  width: 100%;
  height: -webkit-fill-available;
  flex-direction: column;
  padding: 10px;
}

.score-container div {
  display: block;
}

.score-container p {
  display: inline;
}

.info-icon-container {
  height: 4.2em;
  width: 4.2em;
  padding: 10px;
  border-radius: 50%;
  border: solid;
  border-color: transparent;
  border-width: 5px;
}

.info-icon-container .img-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 1000px) {
  #bg-card {
    flex-direction: column;
    max-width: 44em;
    height: auto;
    overflow: overlay;
  }

  #game-container {
    width: 100%;
    flex: 1 1 0;
    min-height: 44em;
  }

  #info-container {
    width: 100%;
    flex: 1 1 0;
    max-width: 44em;
    overflow: visible;
  }
}

@media only screen and (max-width: 700px) {
  #bg-card {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  #game-container {
    overflow-x: scroll;
    min-height: 35em;
  }
  .item-boundary {
    margin-left: 100px;
    margin-right: 20px;
  }

  .item {
    width: 3em;
    height: 3em;
  }

  .item-boundary {
    display: grid;
    grid-template-columns: repeat(8, 3em);
    grid-template-rows: repeat(8, 3em);
    background-color: #84a4fc;
    height: 32em;
    width: 32em;
    grid-gap: 1em;
    padding-top: .5em;
    padding-left: .5em;
    /* we need a background to cover only the middle part not the whole element*/
    background:linear-gradient(#84A4FC 0 0) center/calc(100% - 1.5em) calc(100% - 1.5em) no-repeat;
    filter:url(#round); /* this */
  }
}
