.ui.card.main {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.ui.card.home-container {
  align-self: center;
  width: 40%;
  padding: 20px;
  margin-top: 10%;
}

.home-title {
  font: normal normal 600 28px/42px Poppins;
  letter-spacing: 0px;
  color: #3d4276;
  text-transform: uppercase;
  opacity: 1;
  font-size: 18px;
  display: inline;
  margin: 0;
}

.home-subtitle {
  text-align: left;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #949494;
  opacity: 1;
  font-size: 14px;
  display: inline;
  margin: 0;
}

.home-title-container{
  display: flex !important;
  flex-direction: column;
}

.home-img-container img{
  height: 300px;
  padding-bottom: 50px;
  width: auto;
}

section {
  display: flex;
  justify-content: space-between;
}

.ui.button.home-action-buttons {
  width: 100%;
  color: white;
  height: 5em;
  border-radius: 15px !important;
  font-size: 14px;
  font: normal normal 300 14px/24px Poppins;
}

@media only screen and (max-width: 800px) {
  .ui.card.home-container {
    width: 95%;
  }
  .home-img-container{
    display: none !important;
  }
}
